<% provide(:title, "ヘルプ") %>
<div class="center jumbotron">
  <h1>ヘルプページ</h1>
  <h2>
    不具合等ありましたら、下記から連絡をお願いします。
    <li>
      Twitter: <a href="https://twitter.com/1000ba_Penguin"
        target="_blank" rel="noopener noreferrer">千羽ペンギン</a>
    </li>
    <li>
      Blog <a href="https://obenkyo-log.com/"
        target="_blank" rel="noopener noreferrer">開発日記</a>
    </li>
  </h2>
</div>
  