<div class="center jumbotron">
  <h1>
    Welcome to the<br>
    BUSINESS CARD HOLDER
  </h1>
  
  <h2>
    名刺の管理・登録を行います。<br>
    また、自分の名刺を他のユーザーに簡単に共有できます。
  </h2>
  
  <%= link_to "サインアップ!", '#', class: "btn btn-lg btn-primary" %>
</div>