<footer class="footer">
  <small>
    by <a href="https://twitter.com/1000ba_Penguin"
      target="_blank" rel="noopener noreferrer">千羽ペンギン</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>